@use "theme/typography";

* {
	box-sizing: border-box;
}

html {
	color-scheme: light dark;

	font-family: typography.$family-base;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p, pre {
	margin: 0;
}

summary {
	list-style: none;
	cursor: pointer;
}

dialog {
	border: 0;
	padding: 0;
	background: transparent;
}

label[for] {
	cursor: pointer;
}
label:has(:where(input, textarea, select)) {
	cursor: pointer;
}
