@use "../theme/palette";
@use "../tools/reset" as *;

%icon-button {
	@include reset;
	cursor: pointer;

	display: grid;
	place-items: center;

	height: 2em;
	aspect-ratio: 1 / 1;
	border-radius: 25%;

	@include palette.secondary(true);
	transition:
		0.2s background-color ease-in-out,
		0.2s color ease-in-out;
}
