/// Makes the existing background semi-transparent and provides a blurring
/// effect. Only works on elements with a flat background colour.
///
/// Only works as a progressive enhancement in browsers that support
/// CSS relative colour syntax.
@mixin frosted-glass {
	& {
		@supports (background-color: rgb(from red r g b / 0.5)) {
			// Make the background semitransparent
			backdrop-filter: blur(2px);
			background: rgb(from var(--bg) r g b / 0.5);
		}
		@supports not (background-color: rgb(from red r g b / 0.5)) {
			background: var(--bg);
		}
	}
}
