@use "../theme/animation";
@use "../theme/palette";
@use "../theme/radius";

@use "../tools" as *;

/// A button that contains a single icon, which should be centred.
@mixin icon-button($active: true, $palette: secondary) {
	@include reset;
	@if ($active == true) {
		cursor: pointer;
	}

	display: grid;
	place-items: center;

	height: 2em;
	aspect-ratio: 1 / 1;
	border-radius: radius.$md-rel;

	@if ($palette == primary) {
		@include palette.primary($active);
	} @else if ($palette == secondary) {
		@include palette.secondary($active);
	} @else if ($palette == tertiary) {
		@include palette.tertiary($active);
	}

	transition:
		background-color animation.$speed-fast animation.$easing-default,
		color animation.$speed-fast animation.$easing-default;
}
