@use "../theme/animation";
@use "../theme/palette";
@use "../theme/radius";

@use "../tools/reset" as *;

/// A button that contains a single icon, which should be centred.
@mixin icon-button($active: true) {
	@include reset;
	@if ($active == true) {
		cursor: pointer;
	}

	display: grid;
	place-items: center;

	height: 2em;
	aspect-ratio: 1 / 1;
	border-radius: radius.$md-rel;

	@include palette.secondary($active);
	transition:
		background-color animation.$speed-fast animation.$easing-default,
		color animation.$speed-fast animation.$easing-default;
}
