@use "../theme/palette";
@use "../tools/reset" as *;

@mixin icon-button($active: true) {
	@include reset;
	@if ($active == true) {
		cursor: pointer;
	}

	display: grid;
	place-items: center;

	height: 2em;
	aspect-ratio: 1 / 1;
	border-radius: 25%;

	@include palette.secondary($active);
	transition:
		0.2s background-color ease-in-out,
		0.2s color ease-in-out;
}
