@use "../theme/typography";
@use "../theme/palette";

/// HTML in a content element may be user-generated,
/// so styles will need to be applied based on tag name.
.content {
	@include typography.base-body;
	&:not(:first-child) {
		margin-top: 1lh;
	}
	&:not(:last-child) {
		margin-bottom: 1lh;
	}

	h1 {
		@include typography.heading-1;
	}

	h2 {
		@include typography.heading-2;
	}

	h3 {
		@include typography.heading-3;
	}

	a {
		@include palette.link;
	}

	:is(p, pre):not(:last-child) {
		margin-bottom: 1lh;
	}

	hr {
		// Should be the same height as a paragraph, to match textarea content
		border: 0;
		margin: 0;
		position: relative;
		&::before {
			// Hold space for a single line of text
			content: "---";
			display: block;
			margin-bottom: calc(1em * var(--line-height));
			visibility: hidden;
		}
		&::after {
			content: "";
			position: absolute;
			top: calc(0.5em * var(--line-height));
			inset-inline: 0;
			border-bottom: 1px solid currentColor;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		&:not(:last-child) {
			margin-bottom: 0.5em;
		}
	}

	ul {
		// About enough to compensate for bullets
		padding-left: 1.2ch;
	}

	ol {
		// About enough to compensate for numbers with dots
		padding-left: 2ch;
	}

	ul,
	ol {
		margin-block: calc(1em * var(--line-height));
		&:first-child,
		&:is(input[type="checkbox"]:first-child + *) {
			margin-block-start: 0;
		}
		&:last-child {
			margin-block-end: 0;
		}
	}

	code {
		display: inline-block;
		@include palette.secondary;
		@include typography.monospace-inherit;
		tab-size: 4;
		// About enough to compensate for "`"
		padding: 0 0.5ch;
		border-radius: 0.2em;

		word-break: break-word;
	}

	a > code {
		text-decoration-line: underline;
		text-decoration-color: var(--link);
	}

	// This is how `marked` renders code blocks
	pre > code {
		display: inline-block;
		// Enough to compensate for "```"
		margin-block: calc(2em * var(--line-height));
		&:first-child {
			margin-block-start: 0;
		}
		&:last-child {
			margin-block-end: 0;
		}

		max-width: 100%;
		overflow: auto;
	}

	kbd {
		display: inline-block;
		// About enough to compensate for "`"
		padding: 0 0.5ch;
		border: 1px solid currentColor;
		border-radius: 0.5em;
	}

	blockquote {
		margin: calc(1em * var(--line-height)) 0;
		&:first-child {
			margin-block-start: 0;
		}
		&:last-child {
			margin-block-end: 0;
		}

		// About enough to compensate for "> "
		padding-inline-start: 1.5ch;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			inset-block: 0;
			left: 0;
			width: 0.5ch;

			background-color: currentColor;
			opacity: 0.5;
		}
	}
}
