@use "../theme/palette";
@use "../theme/radius";
@use "../theme/spacing";

@use "../tools" as *;

.drag-list {
	@include list-reset;

	display: flex;
	flex-direction: column;
	gap: spacing.$sm;

	--_handle-width: 1.5ch;
	--_handle-gutter: 1ch;
}

.drag-list__item {
	display: flex;
	align-items: stretch;
}

@media (pointer: coarse) {
	.drag-list__drag-handle {
		display: none;
	}
}

@media (pointer: fine) {
	.drag-list__drag-handle {
		flex-grow: 0;
		flex-shrink: 0;

		margin-right: var(--_handle-gutter);

		cursor: move;

		display: grid;
		place-content: center;
		overflow: hidden;

		// Force white space in ::before content to break
		width: var(--_handle-width);
		text-align: center;
		&::before {
			content: ".. .. ..";
			display: block;
			font-size: 1.2rem;
			line-height: 0.3;

			// Adjust for `.` character being on the bottom of the line
			margin-top: -0.5em;
		}
	}
}

@media (pointer: fine) {
	.drag-list__move-buttons {
		display: none;
	}
}

@media (pointer: coarse) {
	.drag-list__move-buttons {
		display: grid;
		grid-template-columns: 1fr;

		margin-right: var(--_handle-gutter);
		width: var(--_handle-width);
	}

	.drag-list__move-button {
		@include reset;

		width: 100%;
		line-height: 0.5lh;
		display: grid;
		place-content: center;

		@include palette.secondary(true);

		&:first-child {
			border-radius: radius.$xs radius.$xs 0 0;
		}
		&:last-child {
			border-radius: 0 0 radius.$xs radius.$xs;
		}
	}
}
