@use "../theme/animation";
@use "../theme/palette";
@use "../theme/radius";
@use "../theme/typography";

@use "../tools" as *;

.icon-button--primary,
.icon-button--secondary {
	@include reset;

	@include typography.icons;

	display: grid;
	place-items: center;

	height: 2em;
	aspect-ratio: 1 / 1;
	border-radius: radius.$md-rel;

	transition:
		background-color animation.$speed-fast animation.$easing-default,
		color animation.$speed-fast animation.$easing-default;
}

.icon-button--primary {
	// Handle different types of disabled element
	&:not(:disabled, [aria-disabled="true"]) {
		@include palette.secondary(true);
	}
	&:is(:disabled, [aria-disabled="true"]) {
		@include palette.secondary(false);
		cursor: not-allowed;
	}
}

.icon-button--secondary {
	// Handle different types of disabled element
	&:not(:disabled, [aria-disabled="true"]) {
		@include palette.tertiary(true);
	}
	&:is(:disabled, [aria-disabled="true"]) {
		@include palette.tertiary(false);
	}
}
