@use "../theme/spacing";

@use "../patterns";

.modal-prompt__form {
	display: grid;
	grid-template-columns: 1fr;
	gap: spacing.$md;
}

.modal-prompt__message {
	display: block;
	margin-bottom: spacing.$sm;
}

.modal-prompt__input {
	@include patterns.input(tertiary);

	width: 100%;
}
