@use "../theme/typography";
@use "../theme/palette";
@use "../theme/spacing";

@use "../patterns";

.modal {
	max-height: 100dvh;
	max-width: min(80vw, calc(var(--layout-max-width) * 0.8));
	overflow: auto;

	&::backdrop {
		@include patterns.backdrop(--bg-primary);
	}
}

.modal__body {
	position: relative;
	@include palette.secondary;

	padding: spacing.$md-abs;

	pointer-events: auto;

	&:focus-visible {
		// This element receives focus programmatically to move it
		// inside the modal, but it doesn't need to be displayed
		outline: none;
	}
}

.modal__title {
	@include typography.heading-2;
	margin-bottom: spacing.$md;
}

.modal__close {
	position: absolute;
	top: 0;
	right: 0;
}
