@use "../theme/animation";
@use "../theme/palette";
@use "../theme/shadow";
@use "../theme/spacing";
@use "../theme/typography";

@use "../tools" as *;
@use "../patterns";

.command-palette {
	// Override default modal background
	background: transparent;

	max-height: 100svh;
	display: grid;
	grid-template-rows: auto 1fr;
	gap: spacing.$lg;
}

.command-palette__options {
	@include list-reset;
	@include palette.primary;
	overflow: auto;
}

.command-palette__field,
.command-palette__options {
	@include patterns.frosted-glass;

	box-shadow: shadow.$accent;
}

.command-palette__field-input,
.command-palette__option {
	@include patterns.input;
	@include typography.base-large;
}

.command-palette__field-input {
	pointer-events: auto;
	cursor: text;
	width: 100%;

	&:focus-visible {
		outline: none;
	}
}

.command-palette__option {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	&:not(:last-child) {
		border-bottom: 1px solid var(--accent);
	}

	transition:
		background-color
		animation.$speed-fast
		animation.$easing-default;
}

.command-palette__option:not(:is(
	:hover,
	:focus-visible,
	.command-palette__option--active
)) {
	background: transparent;
}
