/// HTML in a content element may be user-generated,
/// so styles will need to be applied based on tag name.
.content {
	a {
		@include link;
	}

	p:not(:last-child) {
		margin-bottom: 1em;
	}

	h1, h2, h3, h4, h5, h6 {
		&:not(:last-child) {
			margin-bottom: 0.5em;
		}
	}

	code {
		@include contrast-secondary;
		padding: 0 0.5ch;
		border-radius: 0.2em;
	}

	// This is how `marked` renders code blocks
	pre > code {
		display: block;
		width: fit-content;
	}
}
