.day {
	margin: 2rem 0;
	display: grid;
	justify-items: start;
	grid-template-columns: minmax(0, 1fr);
	gap: 1rem;

	isolation: isolate;
}

.day__heading {
	@include font-heading-3;
	@include contrast-primary;

	position: sticky;
	z-index: 2;
	top: 0;

	width: 100%;

	padding-bottom: 0.2em;
}

.day__note {
	@include font-base-body;

	width: 100%;

	position: relative;
	--_gutter: 0.5em;

	// TODO: Make this more robust
	// Button height + button offset + border
	min-height: calc(2em + 12px);

	&:has(:where(textarea, .content:not(:empty))) {
		border: 1px solid var(--accent);
		.content {
			padding: var(--_gutter);
		}

		.day__note-edit,
		.day__note-done {
			position: absolute;
			z-index: 1;
			top: 5px;
			right: 5px;
		}
	}
}

.day__note-edit-content {
	// Using this approach:
	// https://css-tricks.com/auto-growing-inputs-textareas/
	display: grid;

	// Stack them on top of each other
	&::before,
	textarea {
		grid-area: 1 / -1 / -1 / -1;

		@include font-base-body;
		padding: var(--_gutter);
	}

	// Simulate content of textarea with visibility hidden, to auto-expand content
	&::before {
		content: attr(data-content) " ";
		white-space: pre-wrap;
		visibility: hidden;
	}

	textarea {
		@include contrast-primary;
		resize: none;
		overflow: hidden;
		border: 0;

		@include font-base-body;
	}
}

.day__note-edit {
	@extend %icon-button;
}

.day__note-done {
	@extend %icon-button;
}
