@use "../theme/layout";
@use "../theme/palette";
@use "../theme/spacing";
@use "../theme/typography";

@use "../patterns";

@use "../tools" as *;

.day {
	margin: spacing.$lg 0;
}

.day__summary {
	@include palette.primary;
	@include typography.heading-base;

	position: sticky;
	top: 0;
	z-index: 1;
	&:has(.task-status__popover[open]) {
		z-index: 2;
	}
	&:has(.task-status__popover[opening]) {
		z-index: 3;
	}

	& {
		display: flex;
		gap: spacing.$sm;
		align-items: center;

		@include layout.bp-small {
			flex-wrap: wrap;
		}
	}
}

.day__body {
	display: grid;
	justify-items: start;
	grid-template-columns: minmax(0, 1fr);
	gap: spacing.$md;
	padding-top: spacing.$md;
}

.day__heading {
	@include typography.heading-3;
	@include patterns.disclosure-title;

	& {
		white-space: nowrap;
		font-variant-numeric: tabular-nums;
	}
}
