.day {
	margin: 2rem 0;

	isolation: isolate;
}

.day__heading {
	@include font-heading-3;
	padding-bottom: 0.2em;

	position: sticky;
	z-index: 2;
	top: 0;
	@include contrast-primary;
}

.day__note {
	@include font-base-body;

	position: relative;
	--_gutter: 0.5em;

	margin-block: 1rem;
	// TODO: Make this more robust
	// Button height + button offset + border
	min-height: calc(2em + 12px);

	&:has(:where(textarea, .content:not(:empty))) {
		border: 1px solid var(--accent);
		.content {
			padding: var(--_gutter);
		}

		.day__note-edit,
		.day__note-done {
			position: absolute;
			z-index: 1;
			top: 5px;
			right: 5px;
		}
	}
}

.day__note-edit-content {
	// Using this approach:
	// https://css-tricks.com/auto-growing-inputs-textareas/
	display: grid;

	// Stack them on top of each other
	&::before,
	textarea {
		grid-area: 1 / -1 / -1 / -1;

		@include font-base-body;
		padding: var(--_gutter);
	}

	// Simulate content of textarea with visibility hidden, to auto-expand content
	&::before {
		content: attr(data-content) " ";
		white-space: pre-wrap;
		visibility: hidden;
	}

	textarea {
		@include contrast-primary;
		resize: none;
		overflow: hidden;
	}
}

.day__note-edit-content textarea,
.day__note-edit-content::before,
.day__note .content {
	// TODO: Tidy this up a bit
	// Space for the icon button
	padding-right: calc(2rem + 10px);
}

.day__note-edit {
	@extend %icon-button;
}

.day__note-done {
	@extend %icon-button;
}

.day__tasks {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
