@use "../theme/palette";
@use "../theme/spacing";

@use "../tools" as *;

.drag-list {
	@include list-reset;

	display: flex;
	flex-direction: column;
	gap: spacing.$sm;
}

.drag-list__item {
	display: flex;
	align-items: stretch;
}

.drag-list__drag-handle {
	flex-shrink: 0;

	margin-right: 1ch;

	cursor: move;

	@include palette.primary;

	display: grid;
	place-content: center;
	overflow: hidden;

	// Force white space in ::before content to break
	width: min-content;
	&::before {
		content: ".. .. ..";
		display: block;
		font-size: 1.2rem;
		line-height: 0.3;

		// Adjust for `.` character being on the bottom of the line
		margin-top: -0.5em;
	}
}
