@use "../theme/spacing";
@use "../theme/typography";

@use "../tools" as *;
@use "../patterns";

.inline-note {
	display: inline-grid;
	grid-template-columns: [content-start] 1fr [content-end edit-button-start] 2em [edit-button-end];
	grid-template-rows: [content-start] 1fr [content-end];
	gap: spacing.$sm;

	width: fit-content;
	position: relative;

	.inline-note__input,
	.inline-note__display {
		grid-area: content;

		@include typography.base-body;
		border: 0;
		padding: spacing.$xs-rel;
	}
}

.inline-note__input {
	@include reset;
	& {
		field-sizing: content;
		cursor: text;

		// Enough for the "Task name" placeholder text
		min-width: 10ch;
	}
}

.inline-note__display {
	margin: 0;
}

.inline-note__edit {
	grid-column: edit-button;

	&:not(:is(:focus, :only-child)) {
		overflow: hidden;
		width: 0;
	}
}
