.modal {
	position: fixed;
	z-index: 1;
	inset: 0;

	display: grid;
	place-content: center;

	pointer-events: none;

	background: rgba($white, 0.4);
	@container style(--theme: dark) {
		background: rgba($black, 0.4);
	}
}

.modal__body {
	@include contrast-secondary;

	padding: 20px;

	pointer-events: auto;

	&:focus {
		// This element receives focus programmatically to move it
		// inside the modal, but it doesn't need to be displayed
		outline: none;
	}

	max-height: 100dvh;
	max-width: min(80vw, calc(var(--layout-max-width) * 0.8));
	overflow: auto;
}

.modal__title {
	@include font-heading-2;
	margin-bottom: 1em;
}
