@use "../theme/palette";
@use "../theme/spacing";
@use "../theme/typography";

@use "../patterns";

.note {
	@include typography.base-body;

	width: 100%;

	position: relative;
	--_gutter: #{spacing.$sm-rel};

	textarea,
	.content:not(:empty) {
		border: 1px solid var(--accent);
	}
	.content:not(:empty) {
		padding: var(--_gutter);
	}

	.content {
		margin-bottom: 0;
	}
}

.note__edit-content {
	@supports (field-sizing: content) {
		textarea {
			field-sizing: content;
			width: 100%;
		}
	}

	@supports not (field-sizing: content) {
		// Using this approach:
		// https://css-tricks.com/auto-growing-inputs-textareas/
		display: grid;

		// Stack them on top of each other
		&::before,
		textarea {
			grid-area: 1 / -1;

			@include typography.base-body;
		}

		// Simulate content of textarea with visibility hidden, to auto-expand content
		&::before {
			content: attr(data-content) " ";
			white-space-collapse: preserve;
			word-break: break-word;
			visibility: hidden;
			padding: var(--_gutter);
		}
	}

	textarea {
		@include palette.primary;
		resize: none;
		overflow: hidden;
		display: block;
		padding: var(--_gutter);

		@include typography.base-body;

		// Make it look focused even if the tab itself doesn't have focus
		outline: auto;
	}
}

.note__display-content {
	word-break: break-word;
	position: relative;
}

.note__edit {
	&:not(:only-child) {
		position: absolute;
		bottom: 0;
		right: 0;

		// Make it focusable, but only visibly shown while focused
		&:not(:focus) {
			overflow: hidden;
			width: 0;
			height: 0;
		}
	}
}
