@use "../theme/palette";
@use "../theme/spacing";
@use "../theme/typography";

@use "../patterns";

.note {
	@include typography.base-body;

	width: 100%;

	position: relative;
	--_gutter: #{spacing.$sm-rel};

	textarea,
	.content:not(:empty) {
		border: 1px solid var(--accent);
	}
	.content:not(:empty) {
		padding: var(--_gutter);
	}
}

.note__edit-content {
	// Using this approach:
	// https://css-tricks.com/auto-growing-inputs-textareas/
	display: grid;

	// Stack them on top of each other
	&::before,
	textarea {
		grid-area: 1 / -1;

		@include typography.base-body;
		padding: var(--_gutter);
	}

	// Simulate content of textarea with visibility hidden, to auto-expand content
	&::before {
		content: attr(data-content) " ";
		white-space: pre-wrap;
		visibility: hidden;
	}

	textarea {
		@include palette.primary;
		resize: none;
		overflow: hidden;
		border: 0;

		@include typography.base-body;
	}
}

.note__display-content {
	position: relative;
}

.note__edit {
	&:not(:only-child) {
		position: absolute;
		bottom: 0;
		right: 0;

		// Make it focusable, but only visibly shown while focused
		&:not(:focus) {
			overflow: hidden;
			width: 0;
			height: 0;
		}
	}
}
