@use "../theme/layout";
@use "../theme/palette";
@use "../theme/spacing";
@use "../theme/typography";

@use "../patterns";

.orange-twist {
	@include layout.grid;
	> * {
		grid-column: main;
	}
	& {
		overflow-x: clip;
		padding-block: spacing.$lg;
		position: relative;
	}
}

.orange-twist--loading {
	display: none;
}

.orange-twist__heading {
	@include typography.heading-1;
	// Hack to make top of text flush with top of box
	// until text-box-trim is supported
	margin-top: -0.3em;
}

.orange-twist__section {
	+ .orange-twist__section {
		margin-top: spacing.$lg;
	}
}

.orange-twist__section--sticky-summary > summary {
	position: sticky;
	top: 0;
	z-index: 1;
}

.orange-twist__title {
	@include palette.primary;
	@include typography.heading-2;
	@include patterns.disclosure-title;
}

.orange-twist__task-list {
	margin-block: spacing.$md;
}

.orange-twist__footer {
	margin-top: spacing.$lg;
	border-top: 1px solid var(--accent);
	padding-top: spacing.$lg;

	display: flex;
	flex-direction: column;
	gap: spacing.$sm;

	@include typography.base-small;
}

.orange-twist__footer-row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: spacing.$sm;
}

.orange-twist__footer-author {}

.orange-twist__footer-version {}
