@use "../theme/layout";
@use "../theme/spacing";
@use "../theme/typography";

@use "../patterns";

.orange-twist {
	@include layout.grid;
	overflow-x: clip;
	> * {
		grid-column: main;
	}
	padding-block: spacing.$lg;
	position: relative;
}

.orange-twist__heading {
	@include typography.heading-1;
	// Hack to make top of text flush with top of box
	// until text-box-trim is supported
	margin-top: -0.3em;
}

.orange-twist__section {
	+ .orange-twist__section {
		margin-top: spacing.$lg;
	}
}

.orange-twist__title {
	@include typography.heading-2;
	@include patterns.disclosure-title;
}

.orange-twist__task-list {
	margin-block: spacing.$md;
}
