.task {
	display: grid;
	align-items: center;

	grid-template-columns: auto 1fr;
	grid-gap: 0.5rem;
}

.task__status {
	@include reset;
	cursor: pointer;
}

.task__name {
	// Using this approach:
	// https://css-tricks.com/auto-growing-inputs-textareas/
	display: inline-grid;
	width: fit-content;

	input {
		@include reset;
		cursor: text;
	}

	// Stack them on top of each other
	input,
	.task__name-markdown {
		grid-area: 1 / 1 / -1 / -1;

		@include font-base-body;
		border: 0;
		padding: 0.1em 0.2em;
	}

	.task__name-markdown {
		pointer-events: none;
		p {
			white-space: pre;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		overflow: hidden;
	}

	&:not(:has(input:focus)) {
		.task__name-markdown {
			opacity: 1;
		}
		input {
			opacity: 0;
		}
	}
	&:has(input:focus) {
		.task__name-markdown {
			opacity: 0;
		}
		input {
			opacity: 1;
		}
	}
}

.task__notes {
	grid-column: 1 / -1;
}

.task__subtasks {
	grid-column: 1 / -1;
}
