.task-list {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.task-list__item {
	display: flex;
	align-items: stretch;
}

.task-list__drag-handle {
	margin-right: 1ch;

	cursor: move;

	@include contrast-primary;

	display: grid;
	place-content: center;
	overflow: hidden;

	// Force white space in ::before content to break
	width: min-content;
	&::before {
		content: ".. .. ..";
		display: block;
		font-size: 1.2rem;
		line-height: 0.3;

		// Adjust for `.` character being on the bottom of the line
		margin-top: -0.5em;
	}
}
