@use "../scaffolding/theme/palette";
@use "../scaffolding/tools/active" as *;
@use "../extendables/icon-button" as *;
@use "../extendables/list-reset" as *;

.task-status {
	position: relative;
}

.task-status__indicator {
	@extend %icon-button;
}

.task-status__indicator--readonly {
	cursor: pointer;
	// TODO: This is a messy way of overriding %icon-button to remove its active state
	@include active {
		@include palette.secondary;
	}
}

.task-status__options {
	@extend %list-reset;
	position: absolute;
	bottom: 100%;
	margin-bottom: 0.5rem;
	z-index: 2;
	padding: 0.5em;

	display: flex;
	gap: 0.5rem;

	@include palette.secondary;
	background-color: transparent;
	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		inset: 0;
		background-color: var(--bg);
		opacity: 0.5;
	}
	backdrop-filter: blur(2px);
	border: 1px solid var(--accent);
	box-shadow: 0 0 5px color-mix(in sRGB, var(--accent), white);

	animation: 0.2s appearScreen, ease-in-out;
}

.task-status__optgroup {
	padding-inline: 0.5rem;
	border-inline: 1px solid var(--accent);
	&:first-child {
		padding-inline-start: 0;
		border-inline-start: 0;
	}
	&:last-child {
		padding-inline-end: 0;
		border-inline-end: 0;
	}
}

.task-status__optgroup-list {
	@extend %list-reset;
	display: flex;
	gap: 0.5rem;
}

.task-status__option {}

.task-status__option-button {
	@extend %icon-button;
	@include palette.tertiary(true);
}
