@use "../theme/spacing";

@use "../tools" as *;

.task {
	display: grid;
	align-items: center;

	grid-template-columns: auto auto 1fr;
	grid-gap: spacing.$sm;
}

.task__status {
	@include reset;
	cursor: pointer;
}
