@use "../theme/animation";
@use "../theme/palette";
@use "../theme/shadow";
@use "../theme/spacing";

@use "../patterns";
@use "../tools" as *;

.task-status {
	position: relative;

	--_gap: #{spacing.$sm};
}

.task-status__indicator:not(.task-status__indicator--readonly) {
	@include patterns.icon-button;
}

.task-status__indicator--readonly {
	@include patterns.icon-button(false);
}

.task-status__options {
	@include list-reset;
	position: absolute;
	bottom: 100%;
	margin-bottom: spacing.$sm;
	z-index: 1;
	padding: var(--_gap);

	display: flex;
	gap: var(--_gap);

	@include palette.secondary;
	@include patterns.frosted-glass;

	border: 1px solid var(--accent);

	box-shadow: shadow.$accent;
	animation: appearScreen animation.$speed-medium animation.$easing-default;
}

.task-status__optgroup {
	& + & {
		padding-inline-start: var(--_gap);
		border-inline-start: 1px solid var(--accent);
	}
}

.task-status__optgroup-list {
	@include list-reset;
	display: flex;
	gap: var(--_gap);
}

.task-status__option {}

.task-status__option-button {
	@include patterns.icon-button;
	@include palette.tertiary(true);
}
