.task {
	display: grid;
	align-items: center;

	grid-template-columns: auto 1fr;
	grid-gap: 0.5rem;
}

.task__status {
	@include reset;
	cursor: pointer;
}

.task__name {
	// Using this approach:
	// https://css-tricks.com/auto-growing-inputs-textareas/
	display: inline-grid;
	width: fit-content;

	input {
		@include reset;
		cursor: text;
	}

	// Stack them on top of each other
	&::before,
	input {
		grid-area: 1 / 1 / -1 / -1;

		@include font-base-body;
		border: 0;
		padding: 0.1em 0.2em;
	}

	&::before {
		// Append a non-breaking space
		content: attr(data-content) "\00a0";
		visibility: hidden;

		// Be as wide as the first line, but don't get taller if content wraps
		width: fit-content;
		height: 1em;
		overflow-y: hidden;
	}
}

.task__notes {
	grid-column: 1 / -1;
}

.task__subtasks {
	grid-column: 1 / -1;
}
