@use "../theme/animation";
@use "../theme/palette";
@use "../theme/radius";
@use "../theme/spacing";
@use "../theme/typography";

.toast__container {
	position: fixed;
	bottom: spacing.$md;
	right: spacing.$md;

	display: grid;
	grid-template-columns: 1fr;
	gap: spacing.$md;
}

.toast {
	display: grid;
	> * {
		grid-area: 1 / 1;
	}

	@include palette.secondary;
	@include typography.base-body;
	border-radius: radius.$relative;
	overflow: hidden;

	animation: appearUp animation.$speed-medium animation.$easing-default;
}

.toast__progress {
	background-color: rgb(from var(--colour) r g b / 0.1);
	pointer-events: none;
}

.toast__message {
	padding-block: spacing.$sm;
	padding-inline: spacing.$md;
}
