@use "../scaffolding/theme/typography";
@use "../scaffolding/theme/palette";

.toast__container {
	position: fixed;
	bottom: 1rem;
	right: 1rem;

	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}

.toast {
	display: grid;
	> * {
		grid-area: 1 / 1;
	}

	@include palette.secondary;
	@include typography.base-body;
	border-radius: 0.2em;
	overflow: hidden;

	animation: appearUp 0.3s ease-in-out;
}

.toast__progress {
	background-color: rgb(from var(--colour) r g b / 0.1);
	pointer-events: none;
}

.toast__message {
	padding: 0.5rem 1rem;
}
