////
/// @see `CSSKeyframes.ts` for where the names of these animations are exposed to JavaScript.
////

@keyframes spinCW {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@keyframes appearUp {
	from {
		opacity: 0;
		transform: translateY(100%);
	}
}

@keyframes disappearUp {
	to {
		opacity: 0;
		transform: translateY(-100%);
	}
}
