@use "../tools/active" as *;
@use "../tools/use-var" as *;

////////////////////
// Colour palette //
////////////////////

$white: #ffffff;
$black: #000000;

$grey--lightest: #eeeeee;
$grey--lighter: #d0d0d0;
$grey--light: #bbbbbb;
$grey--lightish: #999999;

$grey--darkish: #777777;
$grey--dark: #555555;
$grey--darker: #333333;
$grey--darkest: #121212;

// TODO
$orange: orange;
$orange--dark: orangered;


////////////////
// Light mode //
////////////////

// Supplementary colours
////////////////////////
$_link-base--light: $orange;
$_accent-base--light: $orange;

// Contrast pairs
/////////////////
$_bg-primary--light: $grey--lightest;
$_colour-primary--light: $black;

$_bg-primary--active--light: $grey--lighter;
$_colour-primary--active--light: $black;

$_bg-secondary--light: $grey--lighter;
$_colour-secondary--light: $black;

$_bg-secondary--active--light: $grey--light;
$_colour-secondary--active--light: $black;

$_bg-tertiary--light: $grey--light;
$_colour-tertiary--light: $black;

$_bg-tertiary--active--light: $grey--lightish;
$_colour-tertiary--active--light: $black;


/// The colours to use in the light colour scheme
@mixin light {
	color-scheme: light;
	--theme: light;

	--link-base: #{$_link-base--light};
	--link: var(--link-base);

	--accent-base: #{$_accent-base--light};
	--accent: var(--accent-base);

	--bg-primary: #{$_bg-primary--light};
	--colour-primary: #{$_colour-primary--light};

	--bg-primary--active: #{$_bg-primary--active--light};
	--colour-primary--active: #{$_colour-primary--active--light};

	--bg-secondary: #{$_bg-secondary--light};
	--colour-secondary: #{$_colour-secondary--light};

	--bg-secondary--active: #{$_bg-secondary--active--light};
	--colour-secondary--active: #{$_colour-secondary--active--light};

	--bg-tertiary: #{$_bg-tertiary--light};
	--colour-tertiary: #{$_colour-tertiary--light};

	--bg-tertiary--active: #{$_bg-tertiary--active--light};
	--colour-tertiary--active: #{$_colour-tertiary--active--light};
}

///////////////
// Dark mode //
///////////////

// Supplementary colours
////////////////////////
$_link-base--dark: $orange--dark;
$_accent-base--dark: $orange--dark;

// Contrast pairs
/////////////////
$_bg-primary--dark: $grey--darkest;
$_colour-primary--dark: $white;

$_bg-primary--active--dark: $grey--darker;
$_colour-primary--active--dark: $white;

$_bg-secondary--dark: $grey--darker;
$_colour-secondary--dark: $white;

$_bg-secondary--active--dark: $grey--dark;
$_colour-secondary--active--dark: $white;

$_bg-tertiary--dark: $grey--dark;
$_colour-tertiary--dark: $white;

$_bg-tertiary--active--dark: $grey--darkish;
$_colour-tertiary--active--dark: $white;

/// The colours to use in the dark colour scheme
@mixin dark {
	color-scheme: dark;
	--theme: dark;

	--link-base: #{$_link-base--dark};
	--link: var(--link-base);

	--accent-base: #{$_accent-base--dark};
	--accent: var(--accent-base);

	--bg-primary: #{$_bg-primary--dark};
	--colour-primary: #{$_colour-primary--dark};

	--bg-primary--active: #{$_bg-primary--active--dark};
	--colour-primary--active: #{$_colour-primary--active--dark};

	--bg-secondary: #{$_bg-secondary--dark};
	--colour-secondary: #{$_colour-secondary--dark};

	--bg-secondary--active: #{$_bg-secondary--active--dark};
	--colour-secondary--active: #{$_colour-secondary--active--dark};

	--bg-tertiary: #{$_bg-tertiary--dark};
	--colour-tertiary: #{$_colour-tertiary--dark};

	--bg-tertiary--active: #{$_bg-tertiary--active--dark};
	--colour-tertiary--active: #{$_colour-tertiary--active--dark};
}

////////////////////
// Palette Mixins //
////////////////////

/// Standard link styling
@mixin link {
	@include use-var(color, --link, $_link-base--light);

	text-decoration: underline;
}

// These "contrast" mixins can be used to apply pairs of background and text colours that have sufficient contrast.

/// The main background/colour pair.
/// @param {boolean} $active [false] - Whether or not the "active" contrast pair should be used on hover and focus.
@mixin primary($active: false) {
	--bg: var(--bg-primary);
	--colour: var(--colour-primary);

	--accent: var(--accent-base, #{$_accent-base--light});
	--link: var(--link-base, #{$_link-base--light});

	@include use-var(background-color, --bg, $_bg-primary--light);
	@include use-var(color, --colour, $_colour-primary--light);

	@if ($active == true) {
		@include active {
			@include primary--active;
		}
	}
}

/// An "active" variant of the main background/colour pair.
@mixin primary--active {
	--bg: var(--bg-primary--active);
	--colour: var(--colour-primary--active);

	--accent: var(--accent-base, #{$_accent-base--light});
	--link: var(--link-base, #{$_link-base--light});

	@include use-var(background-color, --bg, $_bg-primary--active--light);
	@include use-var(color, --colour, $_colour-primary--active--light);
}

/// A secondary background-colour pair to contrast with a primary contrast area.
/// @param {boolean} $active [false] - Whether or not the "active" contrast pair should be used on hover and focus.
@mixin secondary($active: false) {
	--bg: var(--bg-secondary);
	--colour: var(--colour-secondary);

	--accent: var(--accent-base, #{$_accent-base--light});
	--link: var(--link-base, #{$_link-base--light});

	@include use-var(background-color, --bg, $_bg-secondary--light);
	@include use-var(color, --colour, $_colour-secondary--light);

	@if ($active == true) {
		@include active {
			@include secondary--active;
		}
	}
}

/// An "active" variant of the secondary background/colour pair.
@mixin secondary--active {
	--bg: var(--bg-secondary--active);
	--colour: var(--colour-secondary--active);

	--accent: var(--accent-base, #{$_accent-base--light});
	--link: var(--link-base, #{$_link-base--light});

	@include use-var(background-color, --bg, $_bg-secondary--active--light);
	@include use-var(color, --colour, $_colour-secondary--active--light);
}

/// A tertiary background-colour pair to contrast with a primary contrast area.
/// @param {boolean} $active [false] - Whether or not the "active" contrast pair should be used on hover and focus.
@mixin tertiary($active: false) {
	--bg: var(--bg-tertiary);
	--colour: var(--colour-tertiary);

	--accent: var(--accent-base, #{$_accent-base--light});
	--link: var(--link-base, #{$_link-base--light});

	@include use-var(background-color, --bg, $_bg-tertiary--light);
	@include use-var(color, --colour, $_colour-tertiary--light);

	@if ($active == true) {
		@include active {
			@include tertiary--active;
		}
	}
}

/// An "active" variant of the tertiary background/colour pair.
@mixin tertiary--active {
	--bg: var(--bg-tertiary--active);
	--colour: var(--colour-tertiary--active);

	--accent: var(--accent-base, #{$_accent-base--light});
	--link: var(--link-base, #{$_link-base--light});

	@include use-var(background-color, --bg, $_bg-tertiary--active--light);
	@include use-var(color, --colour, $_colour-tertiary--active--light);
}

:root {
	@include light;
}

html {
	color-scheme: light;
}

@media not print {
	@media (prefers-color-scheme: dark) {
		:root {
			@include dark;
		}
	}

	.light {
		@include light;
	}
	body {
		@container style(--theme: light) {
			@include light;
		}
	}
	.dark {
		@include dark;
	}
	body {
		@container style(--theme: dark) {
			@include dark;
		}
	}
	.colour-scheme--default {
		@include light;
		@media (prefers-color-scheme: dark) {
			@include dark;
		}
	}
}
