@use "../theme/spacing";
@use "../tools" as *;

$max-width: rem(800px);

@mixin grid {
	display: grid;
	grid-template-columns:
		[full-width-start] 1fr var(--layout-gutter)
		[main-start] minmax(auto, var(--max-width)) [main-end]
		var(--layout-gutter) 1fr [full-width-end];
}
