@use "../tools/rem" as *;

// Font families
$family-base: "Arial", "Helvetica", sans-serif;
$family-heading: "Arial", "Helvetica", sans-serif;
$family-monospace: monospace;

// Font weights
$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;

/////////////
// Heading //
/////////////

@mixin heading-1 {
	font-family: $family-heading;
	font-weight: $weight-bold;
	font-size: rem(36px);

	--line-height: 1.5;
	line-height: var(--line-height, 1.5);
}

@mixin heading-2 {
	font-family: $family-heading;
	font-weight: $weight-bold;
	font-size: rem(32px);

	--line-height: 1.5;
	line-height: var(--line-height, 1.5);
}

@mixin heading-3 {
	font-family: $family-heading;
	font-weight: $weight-bold;
	font-size: rem(28px);

	--line-height: 1.5;
	line-height: var(--line-height, 1.5);
}

//////////
// Base //
//////////

@mixin base-body {
	font-family: $family-base;
	font-weight: $weight-regular;
	font-size: rem(18px);

	--line-height: 1.4;
	line-height: var(--line-height, 1.4);
}

@mixin base-large {
	font-family: $family-base;
	font-weight: $weight-regular;
	font-size: rem(32px);

	--line-height: 1.4;
	line-height: var(--line-height, 1.4);
}
