// Font families
$font-base: "Arial", "Helvetica", sans-serif;
$font-heading: "Arial", "Helvetica", sans-serif;

// Font weights
$regular: 400;
$semibold: 600;
$bold: 700;

@mixin font-base-18 {
	font-family: $font-base;
	font-weight: $regular;
	font-size: rem(18px);
	line-height: 1.4;
}
